.headerContainer, .headerWhiteContainer {
    width: 100%;
    height: 75px;
    background: 0 0;
    transition: all .4s ease;
    position: fixed;
    z-index: 9999;
    top: 0;
}

.headerWhiteContainer, .headerContainer:hover {
    position: fixed;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 9999;
}

.headerContainer:after, .headerContainer:before {
    content: "";
    display: table;
    table-layout: fixed
}

.headerContainer:after {
    clear: both
}

.headerTop {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 0 20px
}


.headerBranding {
    -webkit-animation: headerTop 1s;
    animation: headerTop 1s;
    float: left;
    position: relative;
    height: 75px;
    line-height: 75px;
    margin-left: -6px;
    margin-right: -6px
}

.headerTitle {
    margin: 0
}

.headerTitle img {
    height: 40px;
    margin-top: 17px;
    opacity: .75;
    transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out
}

.imageLog:hover {
    opacity: 1
}

.searchBox {
    float: right;
    height: 75px;
    line-height: 75px;
    margin-left: 20px
}

.headerTop ul li:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -16px;
    height: 6px;
    background-color: #fe9600;
    width: 100%;
    max-width: 0;
    transition: max-width .25s ease-in-out;
}

.headerTop ul li{
    padding: 10px 0;
    display: inline-block;
    color: #666;
}

.headerContainer .lowerContainer {
    display: block;
}

.lowerContainer {
    position: absolute;
    left: 50%;
    min-width: 758px;
    pointer-events: none;

}

.lower {
    display: inline-block;
    margin: 15px 0 0 10px;
    font-size: 16px;
    position: relative;
    left: -50%;
    pointer-events: auto !important;
}

.headerTop ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.headerTop ul li {
    float: left;
    margin: 0 13px;
    position: relative;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.headerTop .lower nav {
    position: relative;
    float: right;
    animation: searchbox .2s;
    display: block;
}

.headerTop ul li:hover {
    cursor: pointer;
    color: #fe9600
}

.headerTop ul li:hover:after {
    max-width: 100%
}

.searchBox, .headerTop .lowe {
    -webkit-animation: searchbox 1s;
    animation: searchbox 1s;
}

@media (max-width: 1200px) {
    .lowerContainer {
        left: 200px;
    }
    .lower {
        left: 15px
    }
}

@-webkit-keyframes headerTop {
    0% {
        opacity: 0;
        transform: translateX(30px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes searchBox {
    0% {
        opacity: 0;
        transform: translateX(30px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes searchBox {
    0% {
        opacity: 0;
        transform: translateX(30px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
