.openInvalidNav, .openNav{
    display: none;
}
@media (max-width: 860px) {
    .mainContainer {
        transition-duration: .5s;
        transform: translateX(250px) translateY(0);
        -webkit-transform: translateX(250px) translateY(0);
        position: fixed;
        right: 0;
        left: 0;
    }
    .mainContainer:before {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0,0,0,.4);
        z-index: 99;
    }
    .openNav, .openInvalidNav {
        transition-duration: .5s;
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0;
        z-index: 99;
        display: block;
        background: 0 0;
    }

    .iconFlat {
        background: 0 0;
        width: 50px;
        height: 50px;
        float: left;
    }

    .openNav .icon, .openInvalidNav .icon {
        transition-duration: .2s;
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #333;
        top: 24px;
        left: 10px;
    }

    .openInvalidNav .icon:before {
        top: -8px;
    }

    .openInvalidNav .icon:after {
        top: 8px;
    }

    .openNav .icon:after, .openNav .icon:before, .openInvalidNav .icon:after, .openInvalidNav .icon:before {
        transition-duration: .5s;
        background-color: #333;
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        left: 0;
    }

    .openNav .icon {
        background-color: transparent;
    }

    .openNav .icon:before {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        background: #fff;
    }

    .openNav .icon:after {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        background: #fff;
    }

    .openNav .icon:after, .openNav .icon:before {
        top: 0;
    }
}