.markdownContent{
    max-width: 800px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent!important;
}
.markdownContent:before {
    content: "";
    display: table;
    table-layout: fixed;
}
.markdownContent:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}
