.homeContre {
    max-width: 800px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent!important;
}
#content {
    -webkit-animation: main 1s;
    animation: main 1s;
}
.notice {
    padding: 20px;
    border: 1px dashed #e6e6e6;
    color: #969696;
    position: relative;
    display: inline-block;
    width: 100%;
    background: #fbfbfb50;
    border-radius: 10px;
    margin-top: 20px
}
.notice i {
    float: left;
    color: #999;
    font-size: 18px;
    padding-right: 10px;
}
.noticeContent {
    display: initial;
    vertical-align: middle;
}
.primaryMain {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 40px 0 0;
    margin-bottom: 80px;
}