.footerContainer {
    padding: 2%;
    background: rgba(255, 255, 255, .8);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    transition: background 1s;
}

.footerContainer:after, .footerContainer:before {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.siteInfo {
    text-align: center;
    font-size: 13px;
    color: #b9b9b9
}

.siteInfo a {
    color: #b9b9b9
}

.siteInfo a:hover {
    color: orange
}
